.navbarbg {
  height: 55px;
  background-color: white;
}

.navbar-brand {
  /* 2- Logoya soldan boşluk ayarlayınız. */
  /* margin-left: 115px; */
}

input.searche {
  height: 36px;
  width: 250px !important;
  max-width: 500px;
  background-color: #eef3f8;
  border: 0;
}

input.searche::placeholder {
  font-size: 14px;
  /* 3- Arama alanına sağdan boşluk bırakınız ve placeholder'ini düzeltiniz. */
  padding-left: 20px;
  vertical-align: top;
  color: gray;
  background-image: url(/assets/search-solid.svg);
  background-repeat: no-repeat;
  background-position: 0%;
  background-size: 6%;
}

nav form {
  /* width: 500px; */
}

.body {
  background-color: #f3f2ef;
}

.menutext {
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
  margin-top: 5px;
  font-weight: lighter;
}

.menutext:hover {
  color: black;
}

button.mediatext {
  color: #5f5f5f;
}

button.mediatext:hover {
  color: #5f5f5f;
}

.mediatext {
  font-size: 15px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #5f5f5f;
}

i {
  color: gray;
  margin-top: 8px;
}

i:hover {
  color: black;
}

input.content {
  border-radius: 40px;
  height: 45px;
  /* padding-left: 10px; */
}

input.content::placeholder {
  font-weight: bolder;
  font-size: 14px;
  /* padding-left: 25px; */
  font-family: Arial, Helvetica, sans-serif;
  /* background-image: url(/assets/edit-regular.svg); */
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 0px;

}

div.card {
  border-radius: 10px;
}

.header {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bolder;
}

.view {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #5f5f5f;
}

.categories {
  font-size: 13px;
  font-weight: bold;
  color: #0a66c2;
}

li {
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
}

.link {
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #5f5f5f;
}

button.ref {
  color: white;
}

button.ref:hover {
  color: #5f5f5f;
}

.postphoto {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.posttext {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 14px;
  margin-left: 8px;
}

/* gerek kalmadı silinebilir bootstrap ile hallettik. btn btn-light
.postbtn{ 
  border:none;
  border-radius: 5px;
  background-color: transparent;
} */

.fllwbtn {
  text-decoration: none;
  transition-duration: 0.4s;
  background-color: white;
  border-radius: 10px;
  border: 2px solid #4185a5;
}

.about {
  position: sticky;
  /* tek başına olmaz top vermek lazım */
  overflow: visible;
  top: 4rem;
  /* margin-top: üst elemente göre. top sayfa topuna göre. */
  margin-top: 10px;

}

.avatarimg {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid white;
}

.edit-icon {
  width: 18px;
  margin-top: 0px;
  margin-left: 18px;
}

.follow {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}